@charset "UTF-8";

/* src/styles/styles.scss */
.reason-preview {
  background-color: rgba(var(--color-blue-rgb), 0.3);
  border-radius: 15px;
  padding: 20px;
  float: right;
  width: 95%;
}
.reason-generate-button {
  padding: 10px;
  border-radius: 0.5rem;
  margin: 0px 15px;
}
@keyframes pulsate {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.truncated-embed .markdown-preview-view {
  max-height: 20rem;
  margin-bottom: 2rem;
}
.canvas-builder-modal {
  width: 100%;
}
.assistant-response {
  background-color: var(--color-base-20);
  display: inline-block;
  width: 100%;
  color: var(--text-muted);
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0px;
}
.callout[data-callout=\1f4ad] {
  --callout-color:
    25,
    25,
    25;
  --callout-icon: bot;
}
.callout[data-callout=\1f4ad] .markdown-embed-content,
.callout[data-callout=\1f4ad] .markdown-embed-content > .markdown-preview-view {
  max-height: 250px;
  margin-bottom: 1rem;
}
.callout[data-callout=\1f4ad] div.markdown-preview-sizer.markdown-preview-section {
  min-height: unset !important;
  padding-bottom: 0 !important;
}
.canvas-node .reason-node-source {
  background-color: rgba(var(--color-green-rgb), 0.08);
  border: 1px solid rgba(var(--color-green-rgb), 0.8);
}
.canvas-node .reason-node-aggregator {
  background-color: rgba(var(--color-yellow-rgb), 0.08);
  border: 1px solid rgba(var(--color-yellow-rgb), 0.8);
}
