.canvas-node .reason-node-source {
	background-color: rgba(var(--color-green-rgb), 0.08);
	border: 1px solid rgba(var(--color-green-rgb), 0.8);
}

.canvas-node .reason-node-aggregator {
	background-color: rgba(var(--color-yellow-rgb), 0.08);
	border: 1px solid rgba(var(--color-yellow-rgb), 0.8);
}
